version: "3.9"

services:
  php-fpm:
    build:
      args:
        DOCKER_IMAGE_FOLDER: $DOCKER_IMAGE_FOLDER
        GROUP_ID: $GROUP_ID
        USER_ID: $USER_ID
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/php-fpm/Dockerfile
    command: sh -c "cd /home/dockeruser && chown $USER_ID:$GROUP_ID magento && php-fpm"
    container_name: docker-magento_php-fpm
    depends_on:
      - mysql
    networks:
      - external
      - internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - $MAGENTO_DIRECTORY:/home/dockeruser/magento
      - $DOCKER_DIRECTORY/images/php-fpm/custom-php.ini:/usr/local/etc/php/conf.d/custom-php.ini
      - $DOCKER_DIRECTORY/images/php-fpm/.composer:/home/dockeruser/.composer

  node:
    build:
      args:
        GROUP_ID: $GROUP_ID
        USER_ID: $USER_ID
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/node/Dockerfile
    command: sh -c "cd /home/node && chown $USER_ID:$GROUP_ID frontend && tail -f /dev/null"
    container_name: docker-magento_node
    environment:
      MAGENTO_GRAPHQL: "http://nginx:8080/graphql"
    networks:
      - external
      - internal
    volumes:
      - $FRONTEND_DIRECTORY:/home/node/frontend

  nginx:
    build:
      args:
        GROUP_ID: $GROUP_ID
        USER_ID: $USER_ID
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/nginx/Dockerfile
    command: sh -c "cd /home/dockeruser && chown $USER_ID:$GROUP_ID magento && nginx -g 'daemon off;'"
    container_name: docker-magento_nginx
    depends_on:
      - php-fpm
      - node
      - adminer
      - rabbitmq
      - redis-admin
      - mailhog
    networks:
      - external
    ports:
      - 80:8080
    volumes:
      - $MAGENTO_DIRECTORY:/home/dockeruser/magento
      - $DOCKER_DIRECTORY/images/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - $APP_DIRECTORY/logs/nginx:/var/log/nginx

  mysql:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/mysql/Dockerfile
    container_name: docker-magento_mysql
    environment:
      MYSQL_DATABASE: "magento"
      MYSQL_PASSWORD: "magento"
      MYSQL_ROOT_PASSWORD: "magento"
      MYSQL_USER: "magento"
    networks:
      - internal
    platform: linux/amd64
    volumes:
      - mysql:/var/lib/mysql
      - ./images/mysql/custom.my.cnf:/etc/mysql/conf.d/custom.my.cnf

  adminer:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/adminer/Dockerfile
    container_name: docker-magento_adminer
    depends_on:
      - mysql
    networks:
      - external
      - internal

  elasticsearch:
    build:
      args:
        DOCKER_IMAGE_FOLDER: $DOCKER_IMAGE_FOLDER
        GROUP_ID: $GROUP_ID
        USER_ID: $USER_ID
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/elasticsearch/Dockerfile
    container_name: docker-magento_elasticsearch
    environment:
      ELASTIC_PASSWORD: changeme
      ES_JAVA_OPTS: "-Xms1g -Xmx2g"
    networks:
      - internal
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
      - $DOCKER_DIRECTORY/images/elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml

  rabbitmq:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/rabbitmq/Dockerfile
    container_name: docker-magento_rabbitmq
    networks:
      - external
      - internal

  redis:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/redis/Dockerfile
    container_name: docker-magento_redis
    networks:
      - internal

  redis-admin:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/redis-admin/Dockerfile
    container_name: docker-magento_redis-admin
    depends_on:
      - redis
    environment:
      REDIS_1_HOST: "redis"
    networks:
      - external
      - internal

  mailhog:
    build:
      context: $APP_DIRECTORY
      dockerfile: $DOCKER_DIRECTORY/images/mailhog/Dockerfile
    container_name: docker-magento_mailhog
    networks:
      - internal
      - external

networks:
  internal:
  external:

volumes:
  elasticsearch:
  mysql:
